<div class="offers-container" *ngIf="offers">
    <mat-spinner class="loading" [diameter]="20" *ngIf="isLoading"></mat-spinner>
    <div class="title">
        <h3>Customer offers</h3>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Name</th>
                <th scope="col">Created at</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let offer of offers.offers; let i = index">
                <td>{{i + 1}}.</td>
                <td>
                    <a matTooltip="See subscriptions" class="offer-link" [routerLink]="[offer.id, 'subscriptions']">
                        {{offer.name}}
                    </a>
                </td>
                <td>{{offer.contractStartDate | date: 'mediumDate'}}</td>
            </tr>
        </tbody>
    </table>
</div>